body {
    font-family: Roboto, sans-serif;
    background-color: #40434d;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgba(7, 94, 143, 0.8);
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: rgba(38, 148, 243, 0.9);
}

.date {
    color: #888;
    font-weight: normal;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #eaeaea;
}

.profile {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: -20px;
}

.profile img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 0 7px rgb(79, 87, 112);
    transition: filter 0.3s;
}

.profile img:hover {
    filter: drop-shadow(2px 2px 5px rgba(75, 75, 75, 0.5));
}

.contact {
    flex: 1;
}

.section {
    margin-bottom: 10px;
}

.company {
    color: rgb(39, 51, 89);
    font-weight: bold;
    font-size: larger;
}

.vacancy {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(225, 225, 225, 0.8);
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1.1;
}

.pad-bottom {
    padding-bottom: 10px;
}

h3 {
    display: inline;
}

hr {
    border: none;
    height: 1px;
    background-color: #ababab;
    margin: 10px 0;
}

ul {
    list-style-type: disc;
    padding: 0;
}

ul.info li {
    list-style-type: none;
    margin-left: 0;
}

ul li {
    margin-bottom: 5px;
    margin-left: 50px;
}

.bold-text {
    display: block;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 5px;
}

.contacts {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    padding: 0;
}


.contacts a {
    display: flex;
    text-decoration: none;
    color: rgb(39, 51, 89);
    font-weight: bold;
    text-align: left;
    position: relative;
    margin: 0 var(--spacing, 0px);
    transition: margin .25s;
}

.link_style {
    text-decoration: none;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.link_style i {
    margin: 0 10px 3px;
    font-size: 20px;
}

.link_style span {
    display: inline-block;
    width: 80px;
}

svg {
    width: 90px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-40%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, rgb(234, 234, 234));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
}

svg:hover {
    --spacing: 4px;
    --stroke: rgba(14, 58, 84, 0.8);
    --stroke-delay: .1s;
    --offset: 180px;
}

.skill {
    padding: 4px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(163, 197, 225, 0.6);
}

.skills {
    margin-bottom: 5px;
}
